@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg#c152625b71562a7bb7b752375273b2d5') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#95d90f2cd2aa64bdfee0e9f34c516e71') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?u914mn');
  src: url('../fonts/icomoon.eot?#iefixu914mn') format('embedded-opentype'), url('../fonts/icomoon.woff?u914mn') format('woff'), url('../fonts/icomoon.ttf?u914mn') format('truetype'), url('../fonts/icomoon.svg?u914mn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-closeWindows:before {
  content: "\e61f"; }

.icon-minWindows:before {
  content: "\e620"; }

.icon-zoomWindows:before {
  content: "\e621"; }

.icon-cross3:before {
  content: "\e616"; }

.icon-movie:before {
  content: "\e617"; }

.icon-play:before {
  content: "\e618"; }

.icon-fail:before {
  content: "\e619"; }

.icon-success:before {
  content: "\e61a"; }

.icon-cross:before {
  content: "\e603"; }

.icon-drop:before {
  content: "\e604"; }

.icon-update:before {
  content: "\e605"; }

.icon-chevron-small-down:before {
  content: "\e61c"; }

.icon-controller-play:before {
  content: "\e606"; }

.icon-trash:before {
  content: "\e600"; }

.icon-triangle-right:before {
  content: "\e607"; }

.icon-attachment:before {
  content: "\e608"; }

.icon-cog:before {
  content: "\e601"; }

.icon-cross2:before {
  content: "\e609"; }

.icon-drop2:before {
  content: "\e60a"; }

.icon-home:before {
  content: "\e61b"; }

.icon-info-with-circle:before {
  content: "\e602"; }

.icon-circle:before {
  content: "\e602"; }

.icon-info:before {
  content: "\e60b"; }

.icon-switch:before {
  content: "\e60c"; }

.icon-thumbs-down:before {
  content: "\e60d"; }

.icon-thumbs-up:before {
  content: "\e60e"; }

.icon-ticket:before {
  content: "\e60f"; }

.icon-time-slot:before {
  content: "\e610"; }

.icon-tools:before {
  content: "\e611"; }

.icon-traffic-cone:before {
  content: "\e612"; }

.icon-typing:before {
  content: "\e613"; }

.icon-users:before {
  content: "\e614"; }

.icon-video:before {
  content: "\e615"; }

.rotating {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite; }

@-webkit-keyframes bgMove {
  0% {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); }

  100% {
    -webkit-transform: translate3D(-200px, -162px, 0);
            transform: translate3D(-200px, -162px, 0); } }

@keyframes bgMove {
  0% {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0); }

  100% {
    -webkit-transform: translate3D(-200px, -162px, 0);
            transform: translate3D(-200px, -162px, 0); } }

@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }

  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); } }

@keyframes jumping {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }

  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); } }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3); }

  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3); }

  50% {
    opacity: 1; } }

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0); }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: 0; } }

.fadeIn {
  -webkit-animation: fadeIn 1s ease;
          animation: fadeIn 1s ease; }

.fadeInUp {
  -webkit-animation: fadeInUp 1s ease;
          animation: fadeInUp 1s ease; }

* {
  outline: none; }
  * ::-webkit-scrollbar {
    width: 5px;
    height: 3px; }
  * ::-webkit-scrollbar-button {
    background-color: #1c1f21; }
  * ::-webkit-scrollbar-track {
    background-color: #1c1f21; }
  * ::-webkit-scrollbar-track-piece {
    background-color: #1c1f21; }
  * ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #393f42;
    border-radius: 3px; }
  * ::-webkit-scrollbar-corner {
    background-color: #1c1f21; }
  * ::-webkit-resizer {
    background-color: #1c1f21; }

.ctn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: table;
  z-index: 1; }
  .ctn .ctn-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

body, html {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 16px;
  background: #1e2123;
  font-weight: 200; }

.inline {
  display: inline; }

#app-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

#top-window {
  width: 100%;
  height: 40px;
  line-height: 41px;
  text-align: center;
  background: #1e2123;
  border-bottom: 1px solid #1d2022;
  -webkit-user-select: none;
  cursor: default;
  position: relative; }
  #top-window::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-app-region: drag !important;
    z-index: 1; }
  #top-window h1 {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    cursor: default;
    color: white;
    cursor: default;
    -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
  #top-window #buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    display: block;
    left: 10px;
    top: 11px;
    z-index: 100000;
    line-height: normal;
    -webkit-app-region: no-drag !important; }
    #top-window #buttons li {
      position: relative;
      display: inline-block;
      margin-left: 9px;
      line-height: 11px;
      width: 11px;
      height: 11px;
      color: white;
      text-align: center;
      border-radius: 100%;
      overflow: hidden;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-app-region: no-drag; }
      #top-window #buttons li span {
        opacity: 0;
        vertical-align: top;
        line-height: 9px;
        color: black;
        cursor: pointer;
        -webkit-transition: opacity 0.3s ease;
                transition: opacity 0.3s ease; }
      #top-window #buttons li:first-child {
        margin-left: 0; }
    #top-window #buttons #close-btn {
      background: #ff6052;
      -webkit-transition: -webkit-transform 0.2s ease;
              transition: transform 0.2s ease; }
      #top-window #buttons #close-btn span {
        font-size: 16px; }
    #top-window #buttons #minimize-btn {
      background: #ffbe06;
      -webkit-transition: -webkit-transform 0.2s ease 0.1s;
              transition: transform 0.2s ease 0.1s; }
      #top-window #buttons #minimize-btn span {
        line-height: 7px;
        margin-left: -1px; }
    #top-window #buttons #zoom-btn {
      -webkit-transition: -webkit-transform 0.2s ease 0.2s;
              transition: transform 0.2s ease 0.2s;
      background: #16cc37; }
    #top-window #buttons:hover li span {
      opacity: 1; }
  #top-window.loaded #buttons li {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  #top-window.loaded h1 {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  #top-window #update {
    display: block;
    position: fixed;
    z-index: 100000;
    right: 16px;
    top: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    cursor: pointer;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
    -webkit-app-region: no-drag !important; }
    #top-window #update .icon-update {
      -webkit-transition: all 0.6s ease;
              transition: all 0.6s ease; }
    #top-window #update:hover .icon-update {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      color: white; }
    #top-window #update #update-indicator {
      display: none;
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      background: #e73e4a;
      border-radius: 100%;
      right: -1px;
      top: 0;
      -webkit-animation: flash 1s linear 1s;
              animation: flash 1s linear 1s; }
    #top-window #update.available #update-indicator {
      display: block; }
  #top-window .windowsVersion #buttons {
    right: 15px;
    left: auto; }
    #top-window .windowsVersion #buttons li {
      width: auto;
      overflow: hidden;
      border-radius: 0 !important;
      background: transparent !important;
      color: white;
      margin: 0;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease; }
      #top-window .windowsVersion #buttons li:hover {
        color: #e73e4a !important; }
    #top-window .windowsVersion #buttons #close-btn {
      top: 5px;
      right: -10px;
      font-size: 2.1rem; }
    #top-window .windowsVersion #buttons #zoom-btn {
      top: 5px;
      right: 9px;
      font-size: 1.9rem; }
    #top-window .windowsVersion #buttons #minimize-btn {
      top: 7px;
      right: 38px;
      font-size: 1.9rem; }
  #top-window .windowsVersion #update {
    right: auto;
    left: 17px; }

#middle-container {
  display: block;
  width: 100%;
  height: calc(100vh - 82px);
  display: block;
  background: #262a2c;
  text-align: center; }
  #middle-container h2 {
    font-size: 21px;
    color: white;
    font-weight: 200;
    margin: 20px 0 15px 0; }
  #middle-container #drop {
    height: calc(100vh - 82px - 40px);
    width: calc(100% - 40px);
    border: 3px dashed rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    margin: auto;
    position: relative;
    top: 17px;
    color: #888d94;
    font-weight: 200;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden; }
    #middle-container #drop::before {
      content: '';
      display: block;
      position: relative;
      width: 190%;
      height: 190%;
      margin-left: -20%;
      margin-top: -20%;
      z-index: 1;
      background: url('../img/patternBg.png') center repeat;
      -webkit-animation: bgMove 10s linear infinite;
              animation: bgMove 10s linear infinite; }
    #middle-container #drop .dropZone {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 100; }
    #middle-container #drop a {
      color: #888d94;
      font-weight: 200;
      text-decoration: none;
      font-size: 16px;
      -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
      #middle-container #drop a span {
        color: #bbc2ca;
        -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
        padding-bottom: 2px;
        border-bottom: 1px solid white;
        z-index: 101; }
      #middle-container #drop a:hover span {
        color: white; }
    #middle-container #drop.dragOver {
      border: 3px dashed #e73e4a; }
      #middle-container #drop.dragOver #dropIcon #arrow, #middle-container #drop.dragOver #dropIcon #box {
        fill: #e73e4a; }
      #middle-container #drop.dragOver #dropIcon #arrow {
        -webkit-animation: jumping 1s ease infinite;
                animation: jumping 1s ease infinite; }
  #middle-container #list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0 0 0 0; }
    #middle-container #list .item {
      background-color: #262a2c;
      position: relative;
      padding: 0px 20px;
      min-height: 60px;
      box-sizing: border-box;
      cursor: pointer; }
      #middle-container #list .item:hover .itemOver {
        display: block; }
      #middle-container #list .item:hover .poster, #middle-container #list .item:hover p {
        opacity: 0.5; }
      #middle-container #list .item .itemOver {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1;
        display: none;
        -webkit-animation: flipInX 1s ease;
                animation: flipInX 1s ease; }
        #middle-container #list .item .itemOver ul {
          float: right;
          list-style: none;
          margin: 0;
          padding: 0;
          margin-right: 10px; }
          #middle-container #list .item .itemOver ul li {
            position: relative;
            z-index: 1000;
            display: inline-block;
            margin-top: 22px;
            color: white;
            -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease; }
            #middle-container #list .item .itemOver ul li:hover {
              color: #e73e4a; }
          #middle-container #list .item .itemOver ul li:nth-child(2) {
            margin: 0 6px 0 10px; }
      #middle-container #list .item .poster {
        overflow: hidden;
        display: block;
        float: left;
        position: relative;
        top: 13px;
        width: 35px;
        height: 35px;
        border-radius: 100% !important;
        -webkit-animation: flipInY 1s ease;
                animation: flipInY 1s ease;
        background: black;
        z-index: 10; }
        #middle-container #list .item .poster img {
          position: absolute;
          top: -100%;
          left: 0;
          right: 0;
          bottom: -100%;
          margin: auto;
          width: 100%; }
      #middle-container #list .item p {
        float: left;
        position: relative;
        font-size: 0.8rem;
        line-height: 1.3rem;
        color: white;
        margin: 20px 10px;
        text-transform: capitalize;
        width: calc(100% - 110px);
        text-align: left;
        -webkit-animation: fadeIn 1s ease;
                animation: fadeIn 1s ease;
        z-index: 10; }
      #middle-container #list .item .status {
        right: 20px;
        position: absolute;
        top: 20px;
        font-size: 0.9rem;
        margin-top: 1px; }
        #middle-container #list .item .status .fail {
          color: #e73e4a; }
        #middle-container #list .item .status .success {
          color: #1abc9c; }
        #middle-container #list .item .status .loading {
          width: 10px;
          height: 10px; }
      #middle-container #list .item:nth-child(2n+1) {
        background-color: #222729; }
      #middle-container #list .item::after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0; }
    #middle-container #list .item-stag-anim.ng-enter-stagger, #middle-container #list .item-stag-anim.ng-leave-stagger, #middle-container #list .item-stag-anim.ng-move-stagger {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
      -webkit-animation-duration: 0s;
              animation-duration: 0s; }
    #middle-container #list .item-stag-anim.ng-move, #middle-container #list .item-stag-anim.ng-enter {
      opacity: 0;
      -webkit-animation: fadeInRight 0.3s;
              animation: fadeInRight 0.3s; }
    #middle-container #list .item-stag-anim.ng-leave {
      -webkit-animation: fadeOutRight 0.3s;
              animation: fadeOutRight 0.3s; }
    #middle-container #list .settings-el {
      background-color: #262a2c;
      position: relative;
      padding: 0 20px;
      height: 60px;
      line-height: 60px;
      box-sizing: border-box;
      cursor: pointer;
      color: white; }
      #middle-container #list .settings-el p {
        font-size: 0.8rem;
        padding: 0;
        margin: 0; }
      #middle-container #list .settings-el .switchCtn {
        position: absolute;
        right: 0px;
        top: 13px;
        z-index: 1000;
        width: 55px;
        clear: both; }
      #middle-container #list .settings-el:nth-child(2n+1) {
        background-color: #222729; }
      #middle-container #list .settings-el::after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0; }
  #middle-container #information {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    text-align: left;
    box-sizing: border-box;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 5px; }
    #middle-container #information h1 {
      color: white;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 200; }
    #middle-container #information p {
      color: #bbc2ca;
      font-size: 0.8rem;
      font-weight: 200;
      margin-bottom: 30px;
      line-height: 1.4; }
    #middle-container #information .team {
      margin-bottom: 20px; }
      #middle-container #information .team h1 {
        color: #bbc2ca;
        font-size: 1rem;
        font-weight: 200;
        text-transform: capitalize;
        display: inline-block;
        margin-top: 0px; }
      #middle-container #information .team .role {
        color: #bbc2ca;
        font-size: 0.6rem;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        top: 1px;
        left: 7px; }
      #middle-container #information .team .links {
        color: #e73e4a;
        font-size: 0.8rem;
        -webkit-transition: all 0.8s;
                transition: all 0.8s; }
        #middle-container #information .team .links .website {
          position: relative;
          top: -5px; }
        #middle-container #information .team .links .twitter {
          position: relative;
          top: -5px;
          left: 10px; }
        #middle-container #information .team .links:hover {
          color: #e94d58; }
    #middle-container #information .credits {
      margin-bottom: 20px; }
      #middle-container #information .credits span {
        text-decoration: none;
        display: block;
        font-size: 0.8rem;
        color: #e73e4a;
        -webkit-transition: all 0.8s;
                transition: all 0.8s;
        line-height: 1.4; }
        #middle-container #information .credits span:hover {
          color: #e94d58; }
  #middle-container #dropIcon #arrow, #middle-container #dropIcon #box {
    fill: white; }

#bottom-window {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background: #1e2123;
  border-top: 1px solid #1d2022;
  list-style: none;
  position: fixed;
  bottom: 0;
  z-index: 1000; }
  #bottom-window li {
    width: calc(33.333333% - 1px);
    color: #bbc2ca;
    line-height: 40px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #1b1e20;
    cursor: pointer;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease; }
    #bottom-window li:last-child {
      border-right: 0; }
    #bottom-window li:hover {
      color: white;
      background: #1b1e20; }
      #bottom-window li:hover:before {
        -webkit-transform: scale(1.04);
            -ms-transform: scale(1.04);
                transform: scale(1.04); }
  #bottom-window .active {
    background: #1b1e20; }

#textTypeFile {
  color: #bbc2ca;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #bbc2ca;
  position: relative;
  z-index: 10000;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
  #textTypeFile:hover {
    color: white;
    border-bottom: 1px solid white; }

#inputTypeFile {
  visibility: hidden;
  position: absolute; }

.switch:empty {
  position: absolute;
  left: -100000px; }
.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.4em;
  text-indent: 4em;
  margin: 0.4em 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
.switch:empty ~ label:before, .switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 1px;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 2.25em;
  background-color: #ddd;
  border-radius: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 100ms ease-in;
          transition: all 100ms ease-in; }
.switch:empty ~ label:after {
  width: 1.2em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #f1f1f1;
  border-radius: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.switch:checked ~ label:before {
  background-color: #e73e4a; }
.switch:checked ~ label:after {
  margin-left: 1em; }

/* Custom dropdown */
.dropdown {
  width: 36%;
  position: absolute;
  border: 1px solid #bbc2ca;
  border-radius: 3px;
  right: 17px;
  top: 16px;
  vertical-align: middle;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; }
  .dropdown:hover, .dropdown:active, .dropdown:focus {
    border: 1px solid #e73e4a; }
  .dropdown select {
    width: 100%;
    background: #1e2123;
    color: #fff;
    font-size: inherit;
    padding: 0.6em 1em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    font-size: 0.7em;
    -webkit-appearance: button;
    cursor: pointer; }
  .dropdown::before, .dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none; }
  .dropdown::after {
    content: "\e61c";
    font-family: 'icomoon';
    height: 1em;
    font-size: .9em;
    line-height: 1;
    right: 0.5em;
    top: 50%;
    margin-top: -0.5em;
    color: white; }
