// :::: Fonts ::::
$fontSize: 16px;
$mainFont : 'Montserrat', helvetica, arial, sans-serif;

// :::: Colors ::::
$red : #e73e4a;
$lightGrey : #bbc2ca;
$medGrey : #33393b;
$darkGrey : #1e2123;
$barColor : #1e2123;
$middleColor : #262a2c;