<div id="middle-container" ng-controller="DragController">
	<div id="drop" droppable ng-show="view === 'drop'">
		<centered>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="dropIcon" x="0px" y="0px" width="66.5px" height="71px" viewBox="18 0 66.5 71" enable-background="new 18 0 66.5 71" xml:space="preserve">
				<path id="arrow" d="M65.975 32.197L53.389 44.874c-0.333 0.335-0.748 0.597-1.215 0.739 -0.096 0.03-0.192 0.053-0.289 0.075 -0.185 0.037-0.385 0.06-0.592 0.06 -0.496 0-0.963-0.119-1.371-0.344 -0.089-0.044-0.17-0.097-0.252-0.149 -0.082-0.052-0.163-0.112-0.245-0.179 -0.082-0.06-0.155-0.127-0.222-0.202L36.619 32.198c-1.156-1.165-1.156-3.061 0-4.225 1.163-1.165 3.037-1.165 4.192 0l7.519 7.585V4.097c0-1.65 1.333-2.986 2.963-2.986 1.637 0 2.963 1.336 2.963 2.986v31.459l7.525-7.585c1.156-1.165 3.029-1.165 4.193 0C67.13 29.136 67.13 31.033 65.975 32.197z"/>
				<path id="box" d="M77.392 67.777H25.201c-1.636 0-2.963-1.336-2.963-2.985V47.708c0-1.649 1.327-2.986 2.963-2.986s2.963 1.337 2.963 2.986v14.097h46.264V47.708c0-1.649 1.327-2.986 2.963-2.986 1.637 0 2.963 1.337 2.963 2.986v17.083C80.355 66.441 79.028 67.777 77.392 67.777z"/>
			</svg>
			<div ng-show="dragState === 'waiting'">
				<h2>{{ "HOME.DRAG_AND_DROP" | translate}}</h2>
				<a href="#">{{ "HOME.OR" | translate}} <span title="Import videos from your hard drive">{{ "HOME.FILES" | translate}}</span></a>
			</div>

			<div ng-show="dragState === 'dragOver'">
				<h2>{{ "HOME.WANT_TO_PLAY_IT" | translate}}</h2>
				{{ "HOME.PRESS_BTN" | translate }}
			</div>
		</centered>
	</div>

	<ul id="list" droppable ng-show="view === 'list'">
		<li class="item item-stag-anim" ng-repeat="item in list track by $index">
			<div class="itemOver">
				<ul>
					<li title="IMDB Info">
						<span class="icon-movie"></span>
					</li>
					<li title="Play the video">
						<span class="icon-controller-play"></span>
					</li>
					<li title="Remove from list" ng-click="removeItem(list, $index)">
						<span class="icon-cross2"></span>
					</li>
				</ul>
			</div>
			<div class="poster">
				<img ng-src="{{item.poster}}" alt=""/>
			</div>
			<p ng-if="item.type === 'series'">{{item.name}} (S{{item.season}}E{{item.episode}})</p>
			<span class="status">
				<!-- Status : Loading -->
				<img src="public/img/loading.png" class="loading rotating" ng-show="item.status === 'loading'" alt="loading icon"/>

				<!-- Status : Fail -->
				<span ng-show ="item.status === 'fail'" class="fail icon-fail"></span>

				<!-- Status : Done -->
				<span ng-show ="item.status === 'done'" class="success icon-success"></span>

			</span>
		</li>
	</ul>

</div>