<div id="middle-container">
    <div id="information" class="fadeInUp">
        <h1>{{ "INFORMATION.THE_PROJECT" | translate }}</h1>
        <p>{{ "INFORMATION.THE_PROJECT_CONTENT" | translate }}</p>

        <h1>{{ "INFORMATION.TEAM" | translate }}</h1>
        <div class="team">
            <h1>Mathieu Le Tyrant</h1><span class="role">{{ "INFORMATION.DEVELOPER" | translate }}</span>
            <div class="links">
                <span class="website" open>mathieuletyrant.com</span>
                <span class="twitter" open>@MathLTY</span>
            </div>
        </div>
        <div class="team">
            <h1>Patrick Heng</h1><span class="role">{{ "INFORMATION.DEVELOPER" | translate }}</span>
            <div class="links">
                <span class="website" open>hengpatrick.fr</span>
                <span class="twitter" open>@Pat_Hg</span>
            </div>
        </div>
        <div class="team">
            <h1>Robin Mastromarino</h1><span class="role">{{ "INFORMATION.DEVELOPER" | translate }}</span>
            <div class="links">
                <span class="website" open>robinmastromarino.com</span>
                <span class="twitter" open>@cherwoood</span>
            </div>
        </div>

        <h1>{{ "INFORMATION.CREDITS" | translate }}</h1>
        <div class="credits">
            <span open>OpenSubtitles.org</span>
            <span open>Imdb.com</span>
            <span open>Guessit.readthedocs.org</span>
        </div>
    </div>
</div>