<div id="middle-container">
    <div id="information">
        <h1>Le projet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum mollitia perspiciatis sint voluptatem!</p>

        <h1>L'équipe</h1>
        <div class="team">
            <h1>Mathieu Le Tyrant</h1><span class="role">Developpeur</span>
            <div class="links">
                <span class="website">mathieuletyrant.com</span>
                <span class="twitter">@MathLTY</span>
            </div>
        </div>
        <div class="team">
            <h1>Patrick Heng</h1><span class="role">Developpeur</span>
            <div class="links">
                <span class="website">hengpatrick.fr</span>
                <span class="twitter">@Pat_Hg</span>
            </div>
        </div>
        <div class="team">
            <h1>Robin Mastromarino</h1><span class="role">Designer</span>
            <div class="links">
                <span class="website">robinmastromarino.com</span>
                <span class="twitter">@cherwoood</span>
            </div>
        </div>
    </div>
</div>