<div id="middle-container" ng-controller="settingsController">
	<ul id="list" class="fadeInUp">
		<li class="settings-el item-stag-anim">
			<p title="Play video when sub is founded">Auto play at drop</p>
			<div class="switchCtn"> <!-- TODO Sometimes don't work ... I don't know why -->
				<input ng-checked="autoplay == 'true'" type="checkbox" id="playSwitch" name="playSwitch" class="switch" ng-model="autoplay"/>
				<label for="playSwitch">&nbsp;</label>
			</div>
		</li>
		<li class="settings-el item-stag-anim">
			<p title="Your favorite subtitle language">Subtitle language</p>
			<div class="dropdown">
				<select name="subLanguage" id="subLanguage" ng-model="language" ng-change="updateLanguage()">
					<option ng-repeat="item in countryCode" value="{{item.code}}" ng-selected="language == item.code">{{item.name}}</option>
				</select>
			</div>
		</li>
	</ul>
</div>