<div id="middle-container" ng-controller="settingsController">
	<ul id="list" class="fadeInUp">
		<!-- AUTOPLAY -->
		<li class="settings-el item-stag-anim">
			<p title="Play video when sub is founded">{{ "SETTINGS.AUTOPLAY" | translate }}</p>
			<div class="switchCtn"> <!-- TODO Sometimes don't work ... I don't know why -->
				<input ng-checked="autoplay" type="checkbox" id="playSwitch" name="playSwitch" class="switch" ng-model="autoplay"/>
				<label for="playSwitch">&nbsp;</label>
			</div>
		</li>
		<!-- NOTIFICATION -->
		<li class="settings-el item-stag-anim">
			<p title="Play video when sub is founded">{{ "SETTINGS.NOTIFICATION" | translate }}</p>
			<div class="switchCtn"> <!-- TODO Sometimes don't work ... I don't know why -->
				<input ng-checked="notification" type="checkbox" id="notificationSwitch" name="notificationSwitch" class="switch" ng-model="notification"/>
				<label for="notificationSwitch">&nbsp;</label>
			</div>
		</li>
		<!-- APP LANGUAGES -->
		<li class="settings-el item-stag-anim">
			<p title="Your favorite subtitle language">{{ "SETTINGS.LANGUAGES_APP" | translate }}</p>
			<div class="dropdown">
				<select name="subLanguage" id="appLanguage" ng-model="appLanguage" ng-change="updateAppLanguage()">
					<option ng-repeat="(key, value) in allAppLanguage" value="{{key}}" ng-selected="appLanguage == key">{{value | capitalize}}</option>
				</select>
			</div>
		</li>
		<!-- SUB LANGUAGES -->
		<li class="settings-el item-stag-anim">
			<p title="Your favorite subtitle language">{{ "SETTINGS.LANGUAGES" | translate }}</p>
			<div class="dropdown">
				<select name="subLanguage" id="subLanguage" ng-model="language" ng-change="updateLanguage()">
					<option ng-repeat="(key, value) in countryCode" value="{{value}}" ng-selected="language == value">{{key | capitalize}}</option>
				</select>
			</div>
		</li>
	</ul>
</div>