<div id="top-window" ng-controller="topWindowController">
	<ul id="buttons">
		<li id="close-btn" ng-click="appWindow.close()" title="{{ 'MENU.TOP.CLOSE' | translate }}">
			<span>&times;</span>
		</li>
		<li id="minimize-btn" ng-click="appWindow.minimize()" title="{{ 'MENU.TOP.MINIMIZE' | translate }}">
			<span>&ndash;</span>
		</li>
		<li id="zoom-btn" ng-click="appWindow.zoom()" title="{{ 'MENU.TOP.MAXIMIZE' | translate }}">
			<span>+</span>
		</li>
	</ul>

	<h1>{{ "COMMON.NAME_APP" | translate }}</h1>

	<div id="update" ng-click="update()" ng-class="{'available' : newVersionAvailable}">
		<div class="icon-update"></div>
		<div id="update-indicator"></div>
	</div>
</div>